{% trans %}Your reservation request has been denied.{% endtrans %}

{% include "mail/_reservation_data.jinja" %}
{% trans %}
Your reservation has been denied for a reason we have provided separately.
{% endtrans %}
