{% trans %}Your reservation has been cancelled.{% endtrans %}

{% include "mail/_reservation_data.jinja" %}
{% trans %}
The reservation has been cancelled due to your request or
for a reason we have provided separately.
{% endtrans %}
